*.pyc
*.out
resnet/logs_*/
resnet/cifar10/*
resnet/adv_samples
resnet/old_logs/
cifar10/*
*.bin
images/*
resnet/images/*
*.p
*.npy
tmp/*
latex_plots/*
.ipynb_checkpoints/
cifar10_attacks/images/
cifar10_attacks/logs/
cifar10-ensadv/
clarifai/clarifai_images/
